@media screen and (max-width: 767px) {
  /* .site-nav {
    display: none;
  }
  .feedback {
    display: none;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  } */

  /* change on menu-container */
  /* .mobile-menu-container {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
     } */

  /* change on menu-container */

  /* .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } */

  /* change on .menu-toggle */
  /* .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  } */

  /* change on menu-container.is-open */
  /* .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  } */
  /* change on .menu-container .menu-toggle  */
  /* .mobile-menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: rgba(231, 233, 252, 1);
      border: 1px solid #2e2f42;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
  } */
  /* change on .menu-close-icon */
  /* .mobile-menu-close-icon {
    width: 8px;
    height: 8px;
    fill: #2e2f42;
  } */
  /* 
  .mobile-menu-nav-list {
    margin-bottom: auto;
  } */

  /* .mobile-menu-links {
    margin-top: auto;
  } */

  /* .nav-list-link {
    list-style: none;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
  } */

  /* .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  } */

  /* .nav-list-link.current {
    content: "";
    color: #404bbf;  } */

  /* .contacts-link.tel {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #404bbf;
    margin-bottom: 40px;
  }

  .contacts-link.mail {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  } */

  /* .contacts-item:not(:last-child) {
    margin-bottom: 40px;
  } */

  /* .mobile-social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 328px;
    height: 40px;
    gap: 56px;
    margin-top: 48px;
  }

  .social-links-item {
    width: 40px;
    height: 40px;
  }

  .social-links-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }

  .social-links-icon {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
  } */

  /* HERO */

  .hero-container {
    /* height: 432px; */
    /* background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/studio/hero-bg-mobile-min.jpg); */
  }

  /* .hero-title {
    font-size: 36px;
    line-height: 1.11;
  } */
}
